body {
  padding-top: 20px;
  padding-bottom: 40px;
}


/* Custom container */
.container-narrow {
  margin: 0 auto;
  max-width: 960px;
}
.container-narrow > hr {
  margin: 30px 0;
}


ul {
  list-style: none;  
}

.hor_list {
  margin: 0;
}

.hor_list > li
{
    display: inline;
}

.left{
  float: left;
}

.right {
  float: right;
}

.clear: {
   clear: both;
}